@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: Poppins;
}

header {
  height: 100vh;
  overflow: hidden;
}

.img-bg {
  position: absolute;
  right: 0;
  bottom: 0;
  min-height: 100%;
  min-width: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url(../images/img1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-area {
  background: rgba(0, 0, 0, 0.7);
  height: 60px;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.logo {
  margin: 0 50px;
  height: 60px;
  float: left;
  color: #fff;
  font-size: 35px;
  text-transform: capitalize;
  font-weight: bold;
  letter-spacing: 2px;
}

.menu-area {
  float: right;
  list-style: none;
  margin: 20px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.menu-area li {
  display: inline-block;
  margin: 0 5px;
}

.menu-area li a {
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  letter-spacing: 2px;
}

.menu-area li a:hover {
  color: rgb(26, 136, 162);
}

.side-menu {
  position: relative;
  display: none;
  font-size: 20px;
  bottom: 10px;
}

.banner-text {
  overflow: auto;
}

.banner-text h2 {
  color: rgb(26, 136, 162);
  font-size: 55px;
  margin-top: 80px;
  margin-left: 30px;
  position: relative;
}

.btn {
  display: inline-block;
  margin-top: 5%;
  background: transparent;
  border: 0;
  font-size: 20px;
  text-transform: uppercase;
  border: 3px solid #fff;
  padding: 5px 20px;
  color: #fff;
  border-radius: 50px;
  font-weight: bold;
  text-decoration: none;
  transition: 0.2s;
  }

  .btn:hover {
    color: rgba(0, 0, 0, 0.7);
    background: #fff;
  }

  .pictures {
    position: relative;
    height: 100px;
    margin-left: 10px;
    border-radius: 30px;
    border: 4px solid #fff;
    margin-top: 30%;
    cursor: pointer;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    transition: 0.25s all ease-in-out;
  }

  .pictures:hover {

  }

  .active {
    border: 4px solid rgb(26, 136, 162);
  }

  ::-moz-selection {
    color: #fff;
    background: rgb(26, 136, 162);
  }
  
  ::selection {
    color: #fff;
    background: rgb(26, 136, 162);
  }

  @media screen and (max-width: 840px) {
    .side-menu {
      display: block;
    }

    .menu-links {
      display: none;
    }

    .banner-text h2 {
      font-size: 50px;
      margin-left: 20px;
    }

    .banner-text p {
      font-size: 15px;
    }
  }
