@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: poppins;
}

header {
  overflow: hidden;
  height: 100vh;
}

i {
  margin-right: 10px;
}

.img-bg {
  position: absolute;
  right: 0;
  bottom: 0;
  min-height: 100%;
  min-width: 100%;
  filter: brightness(40%);
}

.nav-area {
  background: rgba(0, 0, 0, 0.7);
  height: 60px;
  position: absolute;
  width: 100%;
}

.logo {
  margin: 0 50px;
  height: 60px;
  float: left;
  color: #fff;
  font-size: 35px;
  text-transform: capitalize;
  font-weight: bold;
  letter-spacing: 2px;
}

.menu-area {
  float: right;
  list-style: none;
  margin: 20px;
}

.menu-area li {
  display: inline-block;
  margin: 0 5px;
}

.menu-area li a {
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  letter-spacing: 2px;
}

.menu-area li a:hover {
  color: rgb(26, 136, 162);
}

.side-menu {
  position: relative;
  display: none;
  font-size: 20px;
  bottom: 10px;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.banner-text h2 {
  color: #fff;
  font-size: 55px;
  margin: 0;
}

.banner-text p {
  color: #fff;
  font-size: 18px;
  margin: 0;
  font-weight: bold;
}

.owner {
  color: rgb(255,0,0)
  }

.btn {
  display: inline-block;
  margin-top: 5%;
  background: transparent;
  border: 0;
  font-size: 20px;
  text-transform: uppercase;
  border: 3px solid #fff;
  padding: 5px 20px;
  color: #fff;
  border-radius: 50px;
  font-weight: bold;
  text-decoration: none;
  transition: 0.2s;
  }

  .btn:hover {
    color: rgba(0, 0, 0, 0.7);
    background: #fff;
  }

  ::-moz-selection {
    color: #fff;
    background: rgb(26, 136, 162);
  }
  
  ::selection {
    color: #fff;
    background: rgb(26, 136, 162);
  }

  @media screen and (max-width: 840px) {
    .side-menu {
      display: block;
    }

    .menu-links {
      display: none;
    }

    .banner-text h2 {
      font-size: 50px;
    }

    .banner-text p {
      font-size: 15px;
    }
  }
